body { font-family: "NotoSansMyanmar" !important; line-height: 2;}

p { text-align:left;  text-indent: 1.5em;  font-size: 1.3em;}
h1 { color:dodgerblue; text-align:center; font-size:  1.6em; font-weight: bold;}
h2 { color:dodgerblue; text-align:center; font-size:  1.5em; font-weight: bold;}
h3 { color:dodgerblue; text-align:center;  font-size:  1.4em; font-weight: bold;}
h4 { color:dodgerblue; text-align:center; font-size:  1.3em; font-weight: bold;}
h5 { color:dodgerblue; text-align:center;  font-size:  1.3em; font-weight: bold;}
h6 { color:dodgerblue; text-align:center; font-size:  1.3em; font-weight: bold;}

.title { color:dodgerblue; text-align:center; font-weight: bold;}
.center {	text-align:center; font-weight: bold;}
.ending {	text-align:center; font-weight: bold; font-size: 1.2em; }
.unindent { text-indent: 0px; }
.footnote { color: gray; font-size: 1.1em; }
.highlight { color:white; background-color: orangered;}
.paragraph { color:blue; }
